{:deps {org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.12.1"}
        ai.djl.mxnet/mxnet-model-zoo {:mvn/version "0.2.0"}
        ai.djl.mxnet/mxnet-native-mkl$osx-x86_64 {:mvn/version "1.6.0-a"}}}
